html, body {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}

.content {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px; 
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: .7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box1 {
    background-image: url(assets/imagem1.jpg);
}

.box2 {
    background-image: url(assets/imagem2.jpg);
}

.box3 {
    background-image: url(assets/imagem3.jpg);
}

.box4 {
    background-image: url(assets/imagem4.jpg);
}

.content-title {
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px
}
